<div class="side-menu-base">
    <a class="side-menu-item-anchor" href="javascript:void(0)">
        <div class="side-menu-item-base">
            <p>Projects</p>
        </div>
    </a>
    <a class="side-menu-item-anchor" href="javascript:void(0)">
        <div class="side-menu-item-base">
            <p>Users</p>
        </div>
    </a>
    <a class="side-menu-item-anchor" href="javascript:void(0)">
        <div class="side-menu-item-base">
            <p>Statistics</p>
        </div>
    </a>
</div>
<div class="form-content-base"></div>