<header class="header-base">
    <div class="header-logo"></div>
    <div class="header-menu">

        <a class="header-menu-item-anchor" href="javascript:void(0)">
            <div class="header-menu-item-base">
                <p>Messages</p>
            </div>
        </a>

        <a class="header-menu-item-anchor" href="javascript:void(0)">
            <div class="header-menu-item-base">
                <p>My account</p>
            </div>
        </a>

        <div class="header-menu-user-base">
            <div class="header-menu-user-name-base">
                <p class="header-menu-user-name"><%= login_user_email %></p>
                <p class="header-menu-user-pos"><%= login_user_role %></p>
            </div>
            <div class="header-menu-user-img-base">
                <img src="images/user.jpg" alt="user-icon">
            </div>
        </div>

    </div>
</header>