<nav class="main-menu-base">
    <div class="main-menu-side-border">
        <div class="selected-item-base">
            <p>Project:</p>
            
            <select>
                <option value="project1">Project 1</option>
                <option value="project2">Project 2</option>
                <option value="project3">Project 3</option>
                <option value="project4">Project 4</option>
            </select>

        </div>
    </div>
    <div class="main-menu-menuitem-base">

        <a class="main-menu-item-anchor" href="javascript:void(0)">
            <div class="main-menu-item-base">
                <p>Administration</p>
            </div>
        </a>

        <a class="main-menu-item-anchor" href="javascript:void(0)">
            <div class="main-menu-item-base main-menu-logout-item-base">
                <p>Logout</p>
            </div>
        </a>

    </div>
</nav>